.auth-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.data-form, .account-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-data, .input-account {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-btn {
    background-color: #483285;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.register-link {
    text-align: center;
}

.register-link a {
    color: #483285;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}