.contenedor_mayor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 30px 100px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.auth-container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: rgba(252, 252, 252, 0.6);
    border: 2px solid rgba(73, 50, 133, 0.9);
    box-shadow: 0px 0px 15px rgba(116, 86, 190, 0.9);
    padding: 25px;
    margin: 10px;
    width: 400px;
    border-radius: 5%;
}

.titulo-perfil {
    flex: 1;
    font-family: "Arial Black";
    color: #483285;
    font-size: 50px;
}

.imagen-de-perfil {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-imagen {
    margin-left: 20px;
    margin-top: 20px;
}

label[for="cargarImagen"] {
    background-color: rgba(73, 50, 133, 0.9);
    font-weight: bolder;
    color: white;
    border-radius: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    display: inline-block;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.label[for="cargarImagen"]:hover {
    color: #483285;
    background-color: var(--white-color);
    box-shadow: 0px 0px 6px rgba(73, 50, 133, 0.9);
}

.data-form,
.account-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-data,
.input-account {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.save-btn {
    background-color: rgba(73, 50, 133, 0.9);
    font-weight: bolder;
    color: white;
    border-radius: 50px;
    margin-top: 20px;
    padding: 15px;
    border: none;
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.save-btn:hover {
    color: #483285;
    background-color: var(--white-color);
    box-shadow: 0px 0px 6px rgba(73, 50, 133, 0.9);
}
