/* Estilos para el formulario y contenedor principal */
.indexForm {
    margin: 24px auto;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    padding: 20px;
}

/* Estilos para el título */
.index_title {
    color: #333;
    font-size: 24px;
    margin: 0 0 20px;
}

/* Estilos para los resultados de búsqueda */
.result-item {
    display: flex;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 16px;
    padding: 20px;
}

.imagenLibro img {
    width: 80%;
    max-width: 400px;
    height: auto;
}

.contenido-left, .contenido-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.description {
    text-align: justify;
    max-width: 100%;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 200px;
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #f7f7f7;
}

.topics {
    width: 100%;
    padding: 16px;
    margin-top: 16px;
    background-color: #f0f0f0;
    border-radius: 16px;
    color: #333;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.topic1, .topic2 {
    flex: 1;
    border: 2px solid #483285;
    border-radius: 16px;
    padding: 10px;
    margin: 0 10px;
}

.fecha {
    text-align: center;
}

.fecha-label {
    position: relative;
    right: 10px;
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
}

#fecha {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.reservarButton {
    background-color: #483285;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}
